<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="flex-container">
    <div class="auth-container">
      <h1>Login</h1>
      <form action="/signin" method="POST">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Senha">
        <button type="submmit" class="btn bg-blue">Entrar</button>
        <a href="/register" class="text-blue">Cadastrar</a>
      </form>
    </div>
  </div>

</body>
</html>